/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Press Start 2P', cursive; /* Retro font */
  background: linear-gradient(135deg, #ffa726, #ffd54f); /* Smooth background with orange and yellow */
  color: #fff; /* Text color */
  overflow-x: hidden
}

body {
  padding-bottom: 60px;
}

.title {
  font-size: 2.5rem;
  font-family: DejaVu Sans, sans-serif;
  color: black;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Allow content to grow if necessary */
}

.content-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.footer {
  position: relative; /* Changed from sticky to relative */
  margin-top: 40px; /* Ensure there's space between content and footer */
  width: 100%;
  text-align: center;
}

.footer a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  font-weight: bold; /* Make the links bolder for better readability */
}

.footer a:hover {
  text-decoration: underline;
  color: #ffffff; /* Change link color to white on hover for contrast */
}

.icon-github {
  width: 24px;   /* Adjust size as needed */
  height: 24px;  /* Adjust size as needed */
  vertical-align: middle; /* Aligns with the text */
  margin-right: 8px; /* Space between icon and text */
  fill: #000; /* Color of the icon */
}

/* Ticker.css */
.ticker-container {
  background-color: #000;
  overflow: hidden;
  white-space: nowrap;
  padding: 1em 0;
  border-top: 4px solid #ff0000; /* Red border */
  border-bottom: 4px solid #ff0000; /* Red border */
  box-shadow: 0 0 15px #ff0000; /* Red glow effect */
  margin-bottom: 50px; /* Ensure there's space below the ticker */
  display: flex;
  justify-content: center; /* Center the ticker content horizontally */
  align-items: center; /* Center the ticker content vertically */
}

.ticker-content {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem; /* Increase font size */
  color: #ff0000; /* Red text color */
  animation: ticker 10s linear infinite;
}

@keyframes ticker {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

/* Medium screens (tablets, smaller laptops) */
@media (max-width: 1024px) {
  .ticker-container {
      padding: 1.5em 0; /* Slightly reduce padding for medium screens */
  }
}

/* Small screens (large smartphones, small tablets) */
@media (max-width: 768px) {
  .ticker-container {
      padding: 1.5em 0; /* Further reduce padding for small screens */
  }
}

/* Extra small screens (smartphones) */
@media (max-width: 480px) {
  .ticker-container {
      padding: 1.5em 0; /* Minimum padding for extra small screens */
  }
}


/* BitcoinPrice.css */
.bitcoin-price-container {
  text-align: center;
  margin: 20px 0;
}

.heading {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: #ffa726;
  text-shadow: 2px 2px 0px #ffd54f, 4px 4px 0px #000000;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button-group button {
  background-color: #ffb74d;
  border: none;
  color: #000;
  font-family: 'Georgia', serif; /* Serif font for a print catalog feel */
  font-size: 1rem;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
}

.button-group button:hover {
  background-color: #ff9800;
  color: #fff;
}

.tv-screen {
  background: #002b00;
  border: 4px solid #00ff00;
  border-radius: 12px;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 15px #00ff00;
}

.screen-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00ff00;
  font-family: 'VT323', monospace;
  font-size: 2rem;
}

.currency {
  font-size: 1.5rem;
}

.coin-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.last-update {
  margin-top: 10px;
  color: #00ff00;
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
}

.spacer {
  margin-top: 20px;
}

/* NewsSection.css */
.news-section {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px; 
  margin-bottom: 50px; /* Increased to ensure space between news section and footer */
  width: 50%;
  max-width: 100%; /* Ensure the section doesn't exceed the screen width */
}

.news-section h2 {
  color: black; /* Heading color fitting the 80s theme */
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
}

.news-section ul {
  list-style-type: disc; /* Bullet points for the list */
  list-style-position: inside; /* Ensures bullets are part of the content */
  padding-left: 0; /* Remove default padding */
  text-align: center; /* Center align the bullets and text */
}

.news-section li {
  margin-bottom: 10px; /* Space between list items */
  font-family: Arial, Helvetica, sans-serif; /* Sans-serif font for the heading */
  font-size: 14px; /* Smaller font size for the list items */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .news-section {
      width: 90%; /* Adjust width for smaller screens */
  }

  .news-section ul {
      text-align: left; /* Align text to the left for better readability */
  }
}
