/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Press Start 2P', cursive; /* Retro font */
  background: linear-gradient(135deg, #ffa726, #ffd54f); /* Smooth background with orange and yellow */
  color: #fff; /* Text color */
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 2.5rem;
  font-family: DejaVu Sans, sans-serif;
  color: black;
}

.content-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.footer a {
  margin: 0 10px;
  color: #ffeb3b; /* Bright yellow link color */
  text-decoration: none;
  font-weight: bold; /* Make the links bolder for better readability */
}

.footer a:hover {
  text-decoration: underline;
  color: #ffffff; /* Change link color to white on hover for contrast */
}

.icon-github {
  width: 24px;   /* Adjust size as needed */
  height: 24px;  /* Adjust size as needed */
  vertical-align: middle; /* Aligns with the text */
  margin-right: 8px; /* Space between icon and text */
  fill: #000; /* Color of the icon */
}