<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>js-to-HTMX</title>
        <script src="/static/dependencies/js/htmx.min.js"></script>
        <script src="/static/dependencies/js/preload.js"></script>
        <link rel="stylesheet" href="/static/styles/app.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest">
  <body hx-boost="true" hx-ext="preload">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <body>
      <div class="app">
        <h1 class="title">JS-to-HTMX</h1>
        <div class="ticker-container">
          <div class="ticker-content">
          🤑 DAILY COIN PRICES 🤑
          </div>
        </div>
        <div class="content-box">
          <div class="button-group" preload="mouseover" preload-images="true">
            <button 
            hx-swap="innerHTML" 
            hx-target="#coinData" 
            hx-get="/coin?symbol=btc" 
            hx-trigger="load,click" 
            hx-on="htmx:afterRequest:pollBitcoin"  
            data-coin="btc">
            Bitcoin
          </button>

            <button 
            hx-swap="innerHTML" 
            hx-target="#coinData" 
            hx-get="/coin?symbol=eth" 
            hx-trigger="click" 
            hx-on="htmx:afterRequest:pollEth"  
            data-coin="eth">
            Ethereum
          </button>

            <button 
            hx-swap="innerHTML" 
            hx-target="#coinData" 
            hx-get="/coin?symbol=usdc" 
            hx-trigger="click" 
            hx-on="htmx:afterRequest:USDC"  
            data-coin="usdc">
            USDC
          </button>

          </div> 
            <div id="coinData"></div>
        </div>
        <div id ="news" hx-get="/news" hx-trigger="load" class="news-section"  hx-swap="innerHTML" >
        </div>
        <footer class="footer">
          <a id:="footerLink1" href="https://htmx.org/docs/">HTMX Docs</a>
          <a id:="footerLink2" href="https://github.com/karl-cardenas-coding/js-to-htmx">
            <img src="/static/images/github.svg" alt="GitHub" class="icon-github" />
            Repository
          </a>
        </footer>
      </div>
      <script>
        let selectedCoin = null;
        let pollingInterval = null;

        // Handle button clicks
        document.querySelectorAll('.button-group button').forEach(button => {
            button.addEventListener('click', function(event) {
                // Clear previous polling interval if it exists
                if (pollingInterval) {
                    clearInterval(pollingInterval);
                }
                // Set the selected coin and start polling
                selectedCoin = this.getAttribute('data-coin');
                pollingInterval = setInterval(() => {
                    htmx.ajax('GET', `/coin?symbol=${selectedCoin}`, {
                        target: '#coinData',
                        swap: 'innerHTML'
                    });
                }, 10000); // Poll every 10 seconds
            });
        });

        // Optionally handle cleanup on page unload
        window.addEventListener('beforeunload', () => {
            if (pollingInterval) {
                clearInterval(pollingInterval);
            }
        });
      </script>
  </body>
</html>